{% load staticfiles %}

 <!-- 引入 Bootstrap -->
 <link href="http://apps.bdimg.com/libs/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
 <script type="text/javascript" src="js/bootstrap.js"></script>
 <style type="text/css" src="css/bootstrap.css' ">

.btn {
    border-size: 80%;

}
          .xiaoxi{
font-family:SimSun;
     }
.lianjie{
    margin-top: 50px;
    font-size: x-large;

}

     .yangshi{
         background-color: white;
         width: 52%;
         padding-top: 0px;
         margin-top:20px;
         border:4px;solid-color: #04fffd;
     }
     a:hover{
         background-color: white;
     }
.ziti {
width: 150px;
color: black;
}
.leftindex {
         width:150px;
         color:#FCFCFC;
     }
 </style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vblog</title>
</head>
<body background="images/background.jpg "style="background-size:100%;background-position:center; ">
<div style="margin-left: 0px;margin-top: 40px;width:5%;height: 1800px;float: left;background:url(http://img3.imgtn.bdimg.com/it/u=581864004,1701839937&fm=21&gp=0.jpg)" ></div>
<div style="margin-left: 0px;margin-top: 40px;width:5%;height: 1800px;float: right;background:url(http://img3.imgtn.bdimg.com/it/u=581864004,1701839937&fm=21&gp=0.jpg)" ></div>
<div style="margin-left: 10px;margin-top: 40px;width:15%;height: 1800px;float: left;background-color:#AAAAFF" >
    <div class="lianjie"><a class="leftindex";href="www.baidu.com">News  </a></div>
    <div class="lianjie"><a class="leftindex";href="www.baidu.com">Favorite  </a></div>
    <div class="lianjie"><a class="leftindex";href="www.baidu.com">Like   </a></div>
    <div class="lianjie"><a class="leftindex";href="www.baidu.com">Friends    </a></div>
    <div class="lianjie"><a class="leftindex";href="www.baidu.com">Group vblog             </a></div>
    <div class="lianjie"><a class="leftindex";href="www.baidu.com">Special Focus             </a></div>
</div>

 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
           <li role="presentation" class="active"><a href="/">Home</a></li>
           <li role="presentation"><a style="color:black"href="/discover/">Moments</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
           <li role="presentation"><a style="color:black"href="/">{{ username }}</a></li>
           <li role="presentation"><a style="color:black"href="/mylogout/">Log out</a></li>
    </ul>
 </div>
 <div style="margin-top: 40px;text-align: center;background-color: #AAAAFF;width: 15%;height: 1800px;float: right">
        <br><br/>
        <span><img src="{{ myprofile.icon.url}}" style="width: 100px; height: 100px;border-radius:50px;"> </span>
        <div style="margin-top: 5px; font-family: SimHei;font-size: 200%;font-color:black;"> <a style="color:black" href="/getprofile/">{{ username }}</a></div>
        <div style="margin-top: 5px;font-size: 80%;font-color:gray;">{{myprofile.intro}}</div>
        <span style="font-size: 100%;"><a style="font-size: 100%;" tpye="button"class="btn " href="/listfollow/?username={{ username }}">FOLLOWING{{ myprofile.follow_count }}</a></span>
        <span style="font-size: 100%;"><a style="font-size: 100%;" tpye="button"class="btn " href="/listfollower/?username={{ username }}">FOLLOWERS{{ myprofile.follower_count}}</a></span>
 </div>
 <div style="margin-left:500px;margin-top: 40px;width: 100%">
    <form  action = "/send/"method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div><input  type="text" id="word"placeholder="What's happening?" name="content"style="height:100px;width:50%;background-color:white" maxlength="140"/></div>
    <label class="btn btn-primary"><input type="file"  name="pic" value="Check picture" style="display:none;width:75px;height: 35px;margin-top: 8px;margin-left:850px;color: #2e6da4  "/>添加图片</label>
<script type="text/javascript">

function show(){
    if($("word").length>140){
        alert("exceeds the word limit!");
    }

    else{
        $("success").type;
    }
}
</script>
<input type="submit" id="success"value="Submit" class="btn btn-primary"onclick="show();"/>
        {% for eachcontent in showcontent %}
            <div class="yangshi">
           <br/>
            <div>

                <div style="font-family: SimHei;font-size: 110%;font-color:black;padding-top: 20px;margin-left: 80px;text-align: left">
                     <span style="margin-top: -10px;margin-left:-80px;position:absolute;">
                     {% if eachcontent.icon %}<img src="{{ eachcontent.icon.url}}"style="width: 70px; height: 70px;border-radius:35px;" />{% endif %}
                      </span>
                    <a style="font-family: SimHei;mso-grid-left:20px;font-size: 200%;color:black;" href="/getprofile/?username={{ eachcontent.username }}" >{{eachcontent.username }}</a>
                <span style="font-family: FangSong;font-size: 100%;font-color:gray">{{eachcontent.content_time }}</span>
                </div>
           </div>
            <div style="margin-top: 40px;font-family: SumSun" >{{eachcontent.content }}</div>
            {% if eachcontent.pic %}
                <div>
                <img src="{{ eachcontent.pic.url}}" style="width: 300px; height: 200px;margin-top: 10px;margin-left: 0px;" /></div>
               {% endif %}

            <span><a href="/comment/?content_id={{ eachcontent.id}}" >Comments{{ eachcontent.comment_count }}</a></span>
            {% if eachcontent.username == username%}
            <span ><a href="/delcontent/?content_id={{ eachcontent.id}}" >Delete</a></span>

           {% endif %}</div>
        {% endfor %}

    </form>
 </div>

</body>
</html>